{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block content %}
    <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Статистика сотрудников</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Статистика</li>
                    <li class="breadcrumb-item">Сотрудники</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row project-cards">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                      <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab"
                                 href="#top-home" role="tab" aria-controls="top-home" aria-selected="true">
                                  <i class="icon-stats-up"></i>
                                  Топ лучшие
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="profile-top-tab" data-bs-toggle="tab"
                                 href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="false">
                                  <i class="icon-stats-down"></i>
                                  Топ худшие
                              </a>
                          </li>
                      </ul>
                      <div class="tab-content" id="top-tabContent">
                          <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                              <div class="text-center">
                                  <h4 class="mb-5">Топ-10 лучших сотрудников этого месяца</h4>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <h5>По посещаемости</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_attendance_highest_tbody">
                                                <tr>
                                                    <th colspan="3" class="text-center">
                                                        <h2 class="statistics_attendance_highest_loader d-none"><i class="fa fa-spin fa-spinner"></i></h2>
                                                        <h5 class="statistics_attendance_highest_no_entry d-none">Нет посещаемости</h5>
                                                    </th>
                                                </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h5>По рабочему времени</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_working_hours_highest_tbody">
                                                <tr>
                                                    <th colspan="3" class="text-center">
                                                        <h2 class="statistics_attendance_lowest_loader"><i class="fa fa-spin fa-spinner"></i></h2>
                                                        <h5 class="statistics_working_hours_highest_no_entry d-none">Нет рабочего времени</h5>
                                                    </th>
                                                </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                              <div class="text-center">
                                  <h4 class="mb-5">Топ-10 худших сотрудников в этом месяце</h4>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <h5>По посещаемости</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_attendance_lowest_tbody">
                                                <tr>
                                                    <th colspan="3" class="text-center">
                                                        <h2 class="statistics_attendance_lowest_loader"><i class="fa fa-spin fa-spinner"></i></h2>
                                                        <h5 class="statistics_attendance_lowest_no_entry d-none">Нет посещаемости</h5>
                                                    </th>
                                                </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h5>По рабочему времени</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_working_hours_lowest_tbody">
                                                <tr>
                                                    <th colspan="3" class="text-center">
                                                        <h2 class="statistics_working_hours_lowest_loader"><i class="fa fa-spin fa-spinner"></i></h2>
                                                        <h5 class="statistics_working_hours_lowest_no_entry d-none">Нет рабочего времени</h5>
                                                    </th>
                                                </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock content %}

{% block extra_js %}
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "{% url 'statistics_employee_attendance_ajax' %}",
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Access-Control-Allow-Origin': "http://172.30.80.54:8081/"
                },
                beforeSend: function() {
                    $('.statistics_attendance_highest_loader').removeClass('d-none');
                    $('.statistics_attendance_lowest_loader').removeClass('d-none');
                },
                complete: function() {
                    {#$('.statistics_attendance_highest_no_entry').addClass('d-none');#}
                    {#$('.statistics_attendance_lowest_no_entry').addClass('d-none');#}
                },
                success: function(e) {
                    let data_json = JSON.parse(e);
                    let highest_attendance = data_json['highest_attendance'];
                    let lowest_attendance = data_json['lowest_attendance'];
                    if (Object.keys(highest_attendance).length === 0) {
                        $('.statistics_attendance_highest_no_entry').removeClass('d-none')
                    } else {
                        let template = ``;
                        let loop_counter = 0
                        for(let key in highest_attendance) {
                            loop_counter += 1;
                            template += `
                                <tr>
                                    <td>${loop_counter}</td>
                                    <td>${highest_attendance[key]['full_name']}</td>
                                    <td>${highest_attendance[key]['department']}</td>
                                    <td>${highest_attendance[key]['percentage']} %</td>
                                </tr>
                            `
                        }
                        $('.statistics_attendance_highest_tbody').html(template)
                    }
                    if (Object.keys(lowest_attendance).length === 0) {
                        $('.statistics_attendance_lowest_no_entry').removeClass('d-none')
                    } else {
                        let template = ``;
                        let loop_counter = 0
                        for(let key in lowest_attendance) {
                            loop_counter += 1;
                            template += `
                                <tr>
                                    <td>${loop_counter}</td>
                                    <td>${lowest_attendance[key]['full_name']}</td>
                                    <td>${lowest_attendance[key]['department']}</td>
                                    <td>${lowest_attendance[key]['percentage']} %</td>
                                </tr>
                            `
                        }
                        $('.statistics_attendance_lowest_tbody').html(template)
                    }
                },
                error: function(error) {
                    console.log("Error", error)
                }
            });
            $.ajax({
                url: "{% url 'get_statistics_employee_working_hours_ajax' %}",
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Access-Control-Allow-Origin': "http://172.30.80.54:8081/"
                },
                beforeSend: function() {
                    $('.statistics_working_hours_highest_loader').removeClass('d-none');
                    $('.statistics_working_hours_lowest_loader').removeClass('d-none');
                },
                complete: function() {
                    {#$('.statistics_working_hours_highest_no_entry').addClass('d-none');#}
                    {#$('.statistics_working_hours_lowest_no_entry').addClass('d-none');#}
                },
                success: function(e) {
                    let data_json = JSON.parse(e);
                    let highest_working_hours = data_json['highest_working_hours'];
                    let lowest_working_hours = data_json['lowest_working_hours'];
                    if (Object.keys(highest_working_hours).length === 0) {
                        $('.statistics_working_hours_highest_no_entry').removeClass('d-none')
                    } else {
                        let template = ``;
                        let loop_counter = 0
                        for(let key in highest_working_hours) {
                            loop_counter += 1;
                            template += `
                                <tr>
                                    <td>${loop_counter}</td>
                                    <td>${highest_working_hours[key]['full_name']}</td>
                                    <td>${highest_working_hours[key]['department']}</td>
                                    <td>${highest_working_hours[key]['percentage']} %</td>
                                </tr>
                            `
                        }
                        $('.statistics_working_hours_highest_tbody').html(template)
                    }
                    if (Object.keys(lowest_working_hours).length === 0) {
                        $('.statistics_working_hours_lowest_no_entry').removeClass('d-none')
                    } else {
                        let template = ``;
                        let loop_counter = 0
                        for(let key in lowest_working_hours) {
                            loop_counter += 1;
                            template += `
                                <tr>
                                    <td>${loop_counter}</td>
                                    <td>${lowest_working_hours[key]['full_name']}</td>
                                    <td>${lowest_working_hours[key]['department']}</td>
                                    <td>${lowest_working_hours[key]['percentage']} %</td>
                                </tr>
                            `
                        }
                        $('.statistics_working_hours_lowest_tbody').html(template)
                    }
                },
                error: function(error) {
                    console.log("Error", error)
                }
            })
        })
    </script>
{% endblock extra_js %}