{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<style>
</style>
{% endblock %}

{% block content %}
    <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Статистика сотрудников</h3>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">Статистика</li>
                    <li class="breadcrumb-item">Сотрудники</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row project-cards">
            <div class="col-sm-12">
                <form method="GET" action="#" class="form">
                    <div class="row mb-3 justify-content-end">
                        <div class="col-md-4 d-flex">
                            <select class="form-select" name="year" required>
                                <option value="" selected disabled>Год</option>
                                {% for year in list_of_years %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select" name="month" required>
                                <option value="" selected disabled>Месяц</option>
                                {% for i in list_of_months %}
                                    <option value="{{ i.0 }}">{{ i.1 }}</option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Поиск" class="btn btn-success ms-3">
                        </div>
                    </div>
                </form>
              </div>
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-body">
                      <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab"
                                 href="#top-home" role="tab" aria-controls="top-home" aria-selected="true">
                                  <i class="icon-stats-up"></i>
                                  Топ 10 лучших
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="profile-top-tab" data-bs-toggle="tab"
                                 href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="false">
                                  <i class="icon-stats-down"></i>
                                  Топ 10 самые низкие
                              </a>
                          </li>
                      </ul>
                      <div class="tab-content" id="top-tabContent">
                          <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                              <div class="text-center">
                                  <h4 class="mb-5">Топ-10 сотрудников с самым высоким рейтингом за:
                                      {% for i in list_of_months %}
                                          {% if i.0 == month|slugify %}
                                              {{ i.1 }}
                                          {% endif %}
                                      {% endfor %}
                                      {{ year }} г.
                                  </h4>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <h5>По посещаемости</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_attendance_highest_tbody">
                                                {% for i in attendances_h %}
                                                    <tr>
                                                        <th>{{ forloop.counter }}</th>
                                                        <td>{{ i.name }}</td>
                                                        <td>{{ i.department }}</td>
                                                        <td>{{ i.percentage }} %</td>
                                                    </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <th colspan="4" class="text-center">
                                                                <h6 class="statistics_attendance_highest_no_entry">Нет записи</h6>
                                                            </th>
                                                        </tr>
                                                {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h5>По рабочему времени</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                    <th scope="col">Часы</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_working_hours_highest_tbody">
                                                {% for i in working_hours_h %}
                                                    <tr>
                                                        <th>{{ forloop.counter }}</th>
                                                        <td>{{ i.name }}</td>
                                                        <td>{{ i.department }}</td>
                                                        <td>{{ i.percentage }} %</td>
                                                        <td>{{ i.hours|default:"-" }}</td>
                                                    </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <th colspan="4" class="text-center">
                                                                <h6 class="statistics_attendance_highest_no_entry">Нет записи</h6>
                                                            </th>
                                                        </tr>
                                                {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                              <div class="text-center">
                                  <h4 class="mb-5">Топ-10 сотрудников с самым низким рейтингом за:
                                          {% for i in list_of_months %}
                                              {% if i.0 == month|slugify %}
                                                  {{ i.1 }}
                                              {% endif %}
                                          {% endfor %}
                                          {{ year }} г.
                                  </h4>
                              </div>
                              <div class="row">
                                  <div class="col-md-6">
                                      <h5>По посещаемости</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_attendance_lowest_tbody">
                                                {% for i in attendances_l %}
                                                    <tr>
                                                        <th>{{ forloop.counter }}</th>
                                                        <td>{{ i.name }}</td>
                                                        <td>{{ i.department }}</td>
                                                        <td>{{ i.percentage }} %</td>
                                                    </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <th colspan="4" class="text-center">
                                                                <h6 class="statistics_attendance_highest_no_entry">Нет записи</h6>
                                                            </th>
                                                        </tr>
                                                {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <h5>По рабочему времени</h5>
                                      <div class="table-responsive">
                                          <table class="table">
                                              <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Сотрудник</th>
                                                    <th scope="col">Отдел</th>
                                                    <th scope="col">%</th>
                                                </tr>
                                              </thead>
                                              <tbody class="statistics_working_hours_lowest_tbody">
                                                {% for i in working_hours_l %}
                                                    <tr>
                                                        <th>{{ forloop.counter }}</th>
                                                        <td>{{ i.name }}</td>
                                                        <td>{{ i.department }}</td>
                                                        <td>{{ i.percentage }} %</td>
                                                    </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <th colspan="4" class="text-center">
                                                                <h6 class="statistics_attendance_highest_no_entry">Нет записи</h6>
                                                            </th>
                                                        </tr>
                                                {% endfor %}
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
{% endblock content %}

{% block extra_js %}
    <script>
    </script>
{% endblock extra_js %}